blinker
click
dash
dash-core-components
dash-html-components
dash-table
Flask
geojson
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
numpy
packaging
pandas
plotly
python-dateutil
pytz
shapely
six
tenacity
tzdata
Werkzeug
zipp
